python-iteration1/.vscode/settings.json
python-iteration1/.vscode/launch.json
python-iteration1/ZoomPollViewer/__pycache__/
python-iteration1/*.csv
python-iteration1/*.xls
python-iteration1/*.xlsx
python-iteration1/Polls/*.xls
python-iteration1/Polls/*.xls
python-iteration1/Polls/*.csv
